extends /templates/base-flat

mixin box
  .well.text-center
    if me.isAnonymous() == true
      h6#classroom-edition-header(data-i18n="new_home.classroom_edition")
      div
        button.teacher-btn.btn.btn-primary.btn-lg.btn-block(data-event-action="Homepage Click Teacher Button CTA", data-i18n="new_home.im_a_teacher")
      div
        button.student-btn.btn.btn-forest.btn-lg.btn-block(data-event-action="Homepage Click Student Button CTA", data-i18n="new_home.im_a_student")
      h6#learn-to-code-header(data-i18n="new_home.learn_to_code")
      a.btn.btn-gold.btn-lg.btn-block.play-btn(href=view.playURL, data-event-action="Homepage Play Now CTA", data-i18n="new_home.play_now")

    else
      h6#classroom-edition-header(data-i18n="new_home.logged_in_as")
      p.small.userName=me.broadName()
      if me.isTeacher()
        div
          a.my-classes-btn.btn.btn-forest.btn-lg.btn-block(href="/teachers/classes", data-event-action="Homepage Click My Classes CTA", data-i18n="new_home.goto_classes")
        div
          a.resource-btn.btn.btn-primary.btn-lg.btn-block(href="/teachers/resources", data-event-action="Homepage Click Resource Hub CTA", data-i18n="teacher.resource_hub")

      else if me.isStudent()
        div
          a.btn.btn-forest.btn-lg.btn-block.play-btn(href=view.playURL, data-event-action="Homepage Classroom Continue Playing CTA", data-i18n="courses.continue_playing")
        div
          a.btn.btn-primary.btn-lg.btn-block.play-btn(href=view.playURL, data-event-action="Homepage View Progress CTA", data-i18n="new_home.go_to_courses")
      else
        div
          a.btn.btn-forest.btn-lg.btn-block.play-btn(href=view.playURL, data-event-action="Homepage Campaign Continue Playing CTA", data-i18n="courses.continue_playing")
        div
          a.btn.btn-primary.btn-lg.btn-block.profile-btn(href=("/user/" + me.getSlugOrID()), data-event-action="Homepage View Profile CTA", data-i18n="new_home.view_profile")


      p.small
        span(data-i18n="courses.not_you")
        span &nbsp;
        a.logout-btn(data-i18n="login.log_out", href="#")

block content
  .container-fluid#jumbotron-container-fluid.alt-image
    .container
      .row.hidden-xs.top-spacer(style="height: 160px")
      .row.hidden-sm.hidden-xs
        .col-lg-7.col-md-8
          h1(data-i18n="new_home.slogan")
        .col-lg-3.col-lg-offset-2.col-md-4
          +box
      .row.hidden-lg.hidden-md
        .col-lg-7.col-md-8
          h1(data-i18n="new_home.slogan")
        .col
          div(style="margin: auto; max-width: 300px")
            +box
      .row#learn-more-row
        .col-xs-12.text-center
          a#learn-more-link
            h6(data-i18n="new_home.learn_more")
            h2
              span.glyphicon.glyphicon-chevron-down
